<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Title</title>
</head>
<header>
    {% include "_navigation.html" %}
</header>
<body>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="user_file">
    <input type="text" name="file_desc" placeholder="enter description">
    <input type='submit' value="Download">

</form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>
</html>