<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask and SQL</title>
</head>
<body>
    <h1>Build app using SQL</h1>
    <button class="btn" type="button" onclick="window.location.href='{{ url_for('join') }}';">Fill form to get updates</button><br/>
    <button class="btn" type="button" onclick="window.location.href='{{ url_for('participants') }}';">Show participants list</button><br/>
</body>
</html>